*{
    box-sizing: border-box;
    padding: 0;margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;list-style: none;
    user-select: none; 
}
:root{
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    --color-primary:#6c63ff;
    --color-danger:#f75842;
}
footer{border-top: 1px solid var(--color-primary);}
#header2 {
    position: relative;
}
#header2 h3{
    color: var(--color-bg2);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding: 80px 100px;
    height: 20vh;
    transform: scale(0);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    background-color: rgba(255, 255, 255, 0.404);
}
@keyframes scale {100% {transform: scale(1);}} 


.box {
    display: grid;
    padding: 100px;
}

.box .par1{
    font-size:16px;
    font-weight: 400;
    color: rgba(112, 112, 112, 0.959);
    margin-bottom: 20px;
    margin-left: 20px;
}
.box .par1 i{
    font-size: 10px;
    margin-right: 10px;
}
.box .h31{

    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 0px;
}
.box .h32{
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 0px;
}
.box h3{
    font-size: 26px;
    margin-left: 120px;
}
.box h4{
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 10px;

}
.box .min-box1{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin: 40px;
}
.box  .box-uniq{
    display: grid;
    grid-template-columns: repeat(1,auto);
    border: 1px solid;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 600px;
    border-radius: 20px;
    background-color: var(--color-bg1);
    cursor: pointer;
    transition:transform 3s ease ;
    filter: blur(1px);
}
.box .box-uniq:hover{
    transform: scale(1.1);
    filter: blur(0);
    box-shadow:  inset 0px -30px 50px -30px rgb(255, 255, 255 ,0.2);
}
.box  .box-uniq .par2{
    font-size:14px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;

}
.box  .box-uniq .par2 i{
    color: var(--color-primary);
    margin-right: 10px;
    font-size: 10px;
}

.box .mini-box{
    display: grid;
    grid-template-columns: repeat(2,auto);
    padding: 20px;
    margin: 0px 100px;
    gap: 30px;
}
.box .mini-box .box-S {
    padding: 30px;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--color-bg1);
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    transition:transform 2s ease ;
    filter: blur(1px);

}
.box .mini-box .box-S:hover{
    transform: scale(1.1);
    filter: blur(0);

}
.box .mini-box .box-S h4{
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}
.box .mini-box .box-S p{
    color: #fff;
    margin-bottom: 10px;
    margin-left: 20px;
    text-indent: -20px;

}
.box .mini-box .box-S p i{
    color: var(--color-primary);
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    margin-right: 10px;
}
.box a{
    padding: 15px 20px;
    width: 160px;
    border-radius: 20px;
    background-color: var(--color-primary);
    color: white;
    font-weight: bolder;
    position: relative;
    left: 540px;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.box a:hover{
    border:1px solid var(--color-primary);
    background-color: white;
    color: var(--color-primary);

}
.box .h32{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bolder;
    margin-left: 0px;
}
.box .mini-box .box-S .aa h3{
    color:#fff;
    font-size: 18px;
    margin-bottom: 10px;
    font-style: italic;


}
.box .mini-box .box-S .aa{
    color:#fff;
    margin-bottom: 15px;
    border-bottom: 2px solid #fff;
}