*{
    box-sizing: border-box;
    padding: 0;margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;list-style: none;
    user-select: none; 
}
:root{
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    --color-primary:#6c63ff;
    --color-danger:#f75842;
}
footer{border-top: 1px solid var(--color-primary);}
#header2 {
    position: relative;
}
#header2 h3{
    color: var(--color-bg2);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding: 80px 100px;
    height: 20vh;
    transform: scale(0);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    background-color: rgba(255, 255, 255, 0.404);
}
@keyframes scale {100% {transform: scale(1);}} 

.box {
    display: grid;
    padding: 100px;
    background-color: var(--color-bg);
}
.box .h31{
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-left: 0px;
}
.box .par1{
    font-size:1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.911);
    margin-bottom: 20px;
    margin-left: 20px;
}
.box .par1 i{
    font-size: 10px;
    margin-right: 10px;
}
.box .h32{
    color: white;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 0px;
}
.box h3{
    font-size: 26px;
    margin-left: 120px;
}
.box h4{
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.faqs_container{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    padding: 20px;
    margin: 0px 100px;
    gap: 10px;
}



.faqs_container .faq{
    padding: 30px;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    filter: blur(1px);
    transition:transform 2s ease ;
    transform: scale(0.9);
    display: grid;
    grid-template-columns: 10% 90%;
    position: relative;
}
.faqs_container .faq:hover{
    box-shadow: 1rem 3rem 4rem rgba(0, 0, 0, 0.3);
    transform: scale(1);
    filter: blur(0);
}
.faqs_container .faq .faq2 h4{
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--color-bg);
    cursor: pointer;

}
.faqs_container .faq .faq2 p{
    color: rgb(243, 243, 243);
    margin-bottom: 10px;
    margin-left: 40px;
    text-indent: -20px;
    cursor: pointer;

}
.faqs_container .faq .faq2 p i{
    color: var(--color-bg);
    cursor: pointer;

}

.faqs_container .faq .faq_icon{
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    position: relative;
    top: 30px;
}
.faqs_container .faq .faq2 .programe{
    display: none;
    margin-top: 40px;
    cursor: pointer;

}
.faqs_container .faq .faq2 .programe p{
    font-weight: bolder;
    margin-top: 20px;
    text-indent: -30px;
    cursor: pointer;


}

.faqs_container .open .faq2 .programe{
    display: block;
}
.open .programe{display: block;}




.box a{
    padding: 15px 30px;
    width: 180px;
    border-radius: 20px;
    background-color: var(--color-primary);
    color: white;
    font-weight: bolder;
    position: relative;
    left: 530px;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.box a:hover{
    background-color: white;
    color: var(--color-primary);

}











