:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    --color-primary:#6c63ff;

    --color-danger:#ff7792;
    --color-succes:#41f1b6;
    --color-waring:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e83;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
.home5{
    grid-template-columns: repeat(1,auto);
    text-align: center;
}
.home5 .contant{
    margin: 60px 100px; 
    display: grid;
    grid-template-columns: repeat(1,auto);
}
.home5 .contant  table{
    padding: 20px;
    text-align: left;
}
.home5 .contant  table tr{
    border: 1px solid ;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border: 4px solid transparent;
    transition: all 1s ease;
    border: 1px solid #ccc;
}
.home5 .contant  table tr td{
    display: grid;
    grid-template-columns: repeat(1,auto);
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    gap: 20px;
}
.home5 .contant  table tr:hover{
    transform: scale(1.04);
}
.home5 .contant  table tr td a{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    user-select: text;
    text-align: left;
    color: var(--color-bg2);
    width: 64rem;
}

.home5 .contant  table tr td .sapn{
    border: 1px solid var(--color-bg);
    font-size: 11.844px;
    font-weight: 700;
    padding: 2px 4px;
    white-space: nowrap;    
    line-height: 14px;
    vertical-align: baseline;
    color: var(--color-white);
    background-color: var(--color-bg);
    user-select: text !important;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    width: 100px;
}
.home5 .contant  table tr td .sapn:hover{
    color: white;
}